<div>
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
        <li>@Html.ActionLink("New Ticket", "Create", "Tickets")</li>
        <li class ="active">@Html.ActionLink("Tickets", "Index", "Tickets")</li>
    </ul>
</div>
